{% extends "encyclopedia/layout.html" %}

{% block title %}
    Wiki
{% endblock %}


{% block body %}
<h1>Edit your article: {{ name }}</h1> <br><br>


<form action="{% url 'save' name %}" method="POST">
  {% csrf_token %}
  <label for="title">{{ form.title.label }}</label>
  <input id="title" disabled="disabled" type="text" name="title" placeholder="{{ name }}"><br>

  <label for="content">{{ form.content.label }}:</label>
  <textarea id="content" name="content" contentEditable="true">{{ read_entry }}</textarea>

  <input type="submit" value="Save">
</form>


{% endblock body %}
