{% extends "encyclopedia/layout.html" %}

{% block title %}
    Wiki
{% endblock %}


{% block body %}
<h1>Edit your article: {{ name }}</h1> <br><br>


<!-- <form action="save/" method="POST">-->
<form action="{% url 'save' name %}" method="POST">
  {% csrf_token %}
  <label for="title">Title:</label><br>
  <input id="title" disabled="disabled" type="text" name="title" placeholder="{{ name }}"><br><br>

  <label for="content">Content:</label><br>
  <textarea id="content" name="content" placeholder="{{ read_entry }}"></textarea><br><br>

  <input type="submit" value="Save">
</form>


{% endblock body %}
