{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

<h1>Create a New Article</h1>
<br><br>

<form action="", method="POST">
  {% csrf_token %}
  <label for="title">Title:</label><br>
  <input class="" id="title" type="text" name="title" placeholder="Type your title"><br><br>
  <label for="content">Content:</label><br>
  <input id="content" type="textarea" name="content"><br><br>
  <input type="submit" value="Submit">

</form>

{% endblock %}
