{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

<h1>Add a New Article</h1>
<p>Type your text below:</p>

<form action="", method="POST">
  {% csrf_token %}
  <label for="title">Title:</label><br>
  <input class="" id="title" type="text" name="title" placeholder="Type your title"><br>
  <label for="content">Content:</label><br>
  <input class="" id="content" type="textarea" name="content" placeholder="Type your content"><br>
  <input type="submit" value="Submit">

</form>

{% endblock %}
